**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
*.idea
**/*.pth.tar
**/*.pth
**qsublogs
**qsub_logs

# JLP
!pretrained_weights/download_croco_weights.sh
!pretrained_weights/download_model.sh
vis/
**.jpg
**.png
wandb/
ZOOM_IN/